<div class="enter-site">
  <div class="sign-in">
    <a href="/sign_in">SIGN IN</a>
  </div>

  <div class="subscribe">
    SUBSCRIBE
  </div>
</div>

<div class="centered-vertically-horizontally">
  <div class="welcome">Welcome to Book of the Month Club!</div>
</div>
